.venv/
__pycache__/
*.pyc
.env
.env.*
.ipynb_checkpoints/
.DS_Store
.vscode/
.idea/

# generated artifacts
outputs/
/esmt-workshop

# optional: if you do NOT want raw source spreadsheets public
# data/input/*.xlsx
